:root {
    --main-color: #232323;
    --p-color: #2b2d31;
}

body {
    margin: 0;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.maintitle {
    margin: 20px 0;
    display: block;
    font-size: 80px;
    text-shadow: white 0 0 10px ;
}

.titlediv {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.linkbutton a {
    text-decoration: none;
}

.linkbutton {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 180px;
    background: var(--p-color);
    margin: 0 20px;
}

a:link, a:visited {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

.titlediv ul {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.linkbutton :hover {
    text-shadow: white 0 0 10px;
}

.image-center {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

#firebot-image {
    height: 60vh;
}